.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #11a;

}

.dialog-form__page {
  display: flex;
  background-color: #fff;
  max-width: 510px;
  width: 100%;
  padding: 11px 45px 26px 45px;
  border-radius: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  overflow: hidden;
  user-select: none;
  position: relative;
  height: 375px;
}
.dialog-form__login-registration-link {
  color: #1A226B;
  text-align: end;
  margin-bottom: 3px;
}
.dialog-form__login-registration-link > a {
  text-align: end;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.dialog-form__reg {
  /* transform: translateX(-25%);
  transition: all 0.25s; */
  opacity: 0;
  /* width: 50%; */
}
.dialog-form__login {
  /* transform: translateX(25%);
  transition: all 0.25s; */
  opacity: 1;
  /* width: 50%; */
}
.dialog-form__title {
  color: #787878;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  font-weight: 700;
}
.dialog-form__container {
  width: 509px;
  margin: 0 auto;
}
.dialog-form__input-description {
  margin: 13px 0 3px 8px;
  font-weight: 700;
  color: #787878;
}
.dialog-form__input-container {
  position: relative;
  margin: 0 auto;
}
.dialog-form__input-required {
  position: absolute;
  top: 7px;
  left: -11px;
}
.dialog-form__input-required_checkbox {
  top: -5px;
}
.dialog-form__input-field {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  width: 489px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #787878;
}
.dialog-form__input-field::placeholder {
  color: #CCCCCC;
}
.dialog-form__input-check-label {
  display: flex;
  align-items: center;
  margin: 24px auto 0 8px;
  color: #787878;
}
.dialog-form__input-check-label ~ .error-msg-empty {
  margin-top: 3px;
}
.dialog-form__input-check-label::before {
  position: absolute;
  content: "";
}
.dialog-form__input-check {
  position: relative;
  appearance: none;
}
.dialog-form__input-check.errorMsg::before {
  border: 2px solid #CB2424;
}
.dialog-form__input-check::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -14px;
  left: -12px;
  border: 2px solid #787878;
  border-radius: 7px;
}
.dialog-form__input-check::after {
  display: none;
  position: absolute;
  content: "";
  left: -8px;
  bottom: 1px;
  width: 15px;
  height: 5px;
  border-left: 2px solid #787878;
  border-bottom: 2px solid #787878;
  transform: rotate(-45deg);
}
.dialog-form__input-check:checked::after {
  display: block;
}
.dialog-form__input-check-policy {
  display: block;
  margin-left: 18px;
  margin-top: -4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.dialog-form__button {
  display: block;
  position: absolute;
  bottom: 0;
  left: 22%;
  right: 22%;
  margin: auto;
  /* margin-top: 56px; */
  background-color: #1A226B;
  color: #ffffff;
  padding: 18px;
  border-radius: 10px;
  border: 0;
  font-size: 24px;
  line-height: 16px;
  font-weight: 700;
}
.dialog-form__button:active {
  transform: scale(0.96);
}

.dialog-form__login-email-container {
  color: #CB2424;
}

.errorMsg {
  color: #CB2424;
}

.invalid-data {
  border: 2px solid #CB2424;
}

.error-msg-empty {
  display: none;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #CB2424;
}

.disable-block {
  display: none;
}

.enable-block {
  display: block;
}

.switch-reg-login {
  transform: translateX(0%);
  opacity: 1;
}

.p-text {
  color: #CCCCCC;
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  text-align: center;
}

.button {
  display: block;
  color: #CCCCCC;
  background-color: #11f;
  border: 5px dotted green;
  margin: 0 auto;
  width: 75%;
  font-size: 50px;
}
.button:active {
  transform: scale(0.98);
}

@keyframes blinking {
  50% {
    color: rgb(2, 114, 2);
  }
}
.good-ending {
  transition: color 2.9s;
  color: rgb(1, 226, 0);
  animation: blinking 0.45s step-start 0s infinite;
}

@media screen and (min-width: 4500px) {
  .dialog-form {
    max-width: 50vw;
    height: 50vh;
  }
  .dialog-form__login-registration-link > a {
    font-size: 2vw;
    line-height: 1em;
  }
  .dialog-form__title {
    font-size: 3vw;
    line-height: 1em;
  }
  .dialog-form__input-description {
    font-size: 2vw;
    line-height: 1em;
  }
  .dialog-form__input-field {
    width: 100%;
  }
  .dialog-form__container {
    width: 95%;
  }
  .dialog-form__input-field {
    font-size: 3vw;
    line-height: 1em;
  }
  .dialog-form__input-check-policy {
    font-size: 2vw;
    margin-left: 1em;
    line-height: 1em;
  }
  .dialog-form__button {
    font-size: 3vw;
    line-height: 1em;
  }
  .dialog-form__input-check {
    position: relative;
    appearance: none;
  }
  .dialog-form__input-check.errorMsg::before {
    border: 2px solid #CB2424;
  }
  .dialog-form__input-check::before {
    width: 2vw;
    height: 2vw;
  }
  .dialog-form__input-check::after {
    width: 2vw;
    height: 1vw;
    bottom: -2em;
  }
}